.main {
    background: #5FA2BD;
}

#Deliverway_se {
    display: block;
}

#Deliverway_im {
    display: none;
}

.flex-container {
    justify-content: space-evenly;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

.flex-sb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px 5px 0px;
}


.or1 {
    margin: 10px;
    color: black;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.address p {
    color: #fff;
}

.tablink {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-cog:before,
.fa-gear:before {
    content: none;
}

.fa-cog {
    color: #B8D8E5;
    size: 100%;
}

.op {
    border: 0;
    background: #5FA2BD;
    color: #ffffff;
    font-weight: bold;
}

option {
    background: #ffffff;
    color: #5FA2BD;
    font-weight: bold;
}

#map {
    height: 30vh;
    margin: auto;
}

.tab {
    height: auto;
    overflow: hidden;
    background: #5FA2BD;
    border: none;
}

.tablink p {

    cursor: pointer;
    transition: 0.3s;
    border-radius: 30px;
}

a {
    color: #fff;
    text-decoration: none;
}

.bgwhite {
    background-color: #fff;
    border-radius: 30px;
    color: #5FA2BD;
}