.container{
    background: #5FA2BD;
    width: 70%;
    height: auto;
}
.fa-cog:before, .fa-gear:before {
    content: none;
}
.fa-cog {
    color: #B8D8E5;
    size: 100%;
  }
.op{
    width: 80%;
    border: 0;
    background: #5FA2BD;
    color: #ffffff;
    font-weight: bold;
    display: block;
}
option{
    background: #ffffff;
    color: #5FA2BD;
    font-weight: bold;
}
map{
    max-width: 100%;
    margin: auto;
    border:"0"; 
}
.tab {
    height: 100%;
    overflow: hidden;
    background: #5FA2BD;
    color: #ffffff;
    border: none;

  }
.tablink button {
    background-color: inherit;
    color: #fff;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 30px;
  }
.tablink button:hover {
    background-color: #fff;
    color: #5FA2BD;
}
.tablink button.active {
    background: #5FA2BD;
    color: #ffffff;
  }
