html,
body,
.main,
.tab {
    height: 100%;
    padding: 0;
    margin: 0;
}
#openMap{
    background-color: #5FA2BD;
    position: fixed;
    bottom:0px;
}
#mapDiv {
    position: fixed;
    bottom:0px;
    width: 100%;
    background-color: #B8D8E5;
}
a{
    color: #fff;
}
#map {
    height: 50vh;
}

#main {
    background-color: #5FA2BD;
}
.nav{
    display: flex;
}